
body {
    background: #ccc;
    scroll-behavior: smooth;
    color: #212121;
    margin: 0;        
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;    
      color: #2c3e50;
}
  
header {
  background-color: #2D2D2D;
  background-image: linear-gradient(180deg,#404040,#2D2D2D); 
  color: #fff;
}

footer {
  background-color: #2D2D2D;
  background-image: linear-gradient(180deg,#404040,#2D2D2D); 
  color: rgba(255,255,255,0.43);
}

section.content {
  flex: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.flex-header {
  margin: 0.5rem ;
}

.flex-footer {
  margin: 0.5rem ;
}

.wrapper {
    position: relative;
    z-index: 1;
    background-color: #ccc;
    background-image: linear-gradient(180deg,#bdbdbd,#ccc);
    background-size: 100% 486px;
    background-position: 50% 0;
    background-repeat: repeat-x;
}

.main-container{
  background: #d9d9d9;
}


.ui.selection.dropdown:focus {
  border-color: #bfbfbf;
  box-shadow: none;
}

.ui.selection.active.dropdown:hover {
  border-color: #e0e0e0;
  box-shadow: none;
}

.ui.selection.active.dropdown {
  border-color: #bfbfbf;
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
}

.ui.selection.dropdown
{
  position: relative;
  border-radius: 3px 0 0 3px;
  border: 1px solid #bfbfbf;
  background: #e0e0e0;
  cursor: pointer;
  color: #78387b;
}
/*
.ui.multiple.dropdown>.label {
  padding: 5%;
  margin: auto;
  vertical-align: baseline;
}
*/

.ui.selection.active.dropdown .menu {
  border-color: #bfbfbf;
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
}

.ui.selection.active.dropdown:hover .menu {
  border-color: #bfbfbf;
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
}

.ui.multiple.dropdown>.label {  
  color: #78387b;
}

.ui.input>input {
  background: #e0e0e0;
  position: relative;
  border-radius: 0 3px 3px 0;
  border: 1px solid #bfbfbf;
  background: #e0e0e0; 
  color: #78387b;
}

.title-underline-text{
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 20px;
}

.layout-container {
box-sizing: content-box;
position: relative;
max-width: 1096px;
margin: auto;
/*! padding: 0 16px; */
}

.layout-container-all {
  display: inline-flex;
    width: 100%;
    height: 100%;
  }

.layout-col {
  width: auto;
  display: inline-block; 
}

.layout-col-67 {
  width: 67%;
  display: inline-block; 
}
.layout-col-33 {
  width: 33%;
  display: inline-block; 
}

.details {
margin-bottom: 50px;
}
.table {
width: 100%;
}

.details .details__row {
padding-bottom: 8px;
}
.details__row:hover:before {
content:"";
position:absolute;
top:0;
bottom:0;
left:-8px;
right:-8px;
background:hsla(0,0%,100%,.2);
border-left:2px solid #78387b
}

.table--without-border .table__row {
border-bottom: none;
/*! padding-bottom: 4px; */
}
.details__row {
position: relative;
padding-top: 7px;
}
.table__row {
  display: flex;
  padding: 12px 0;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 17px;
  font-size: 14px;
  border-bottom: 1px solid #bcbcbc;
}

.details__category, .details__content {
line-height: 17px;
z-index: 10;
}
.details__category {
width: 110px;
}
.table-header, .table__row-label {
color: rgba(33,33,33,.7);
}
.table__row-content, .table__row-label {
vertical-align: top;
}

.title--no-margin {
margin-bottom: 0;
}
.title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 20px;
}
.title__underline-text {
position: relative;
padding: 16px 0;
line-height: 12px;
border-bottom: 1px solid;
margin-bottom: -1px;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 7px 0 0px;
}

@media (min-width: 768px) { 
.layout-container {
   display: inline-flex;
}
.layout-side-col {
width: 38.68613%;
}
.layout-main-col {
width: 56.93431%;
margin-right: 4.37956%;
}
.layout-main-col, .layout-side-col {
  display: inline-block;   
}
}

@media screen and (max-width: 736px)
{
.layout-container {
  display: block;
}
.layout-container-all {
  display: inline-flex;
}
.layout-side-col {
  width: 100%;
}
.layout-main-col {
  width: 100%;
}
.layout-main-col, .layout-side-col {
  display: block;   
}
}