
body {
    background: #ccc;
    scroll-behavior: smooth;
    color: #212121;
    margin: 0;        
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;    
      color: #2c3e50;
}
  
header {
  background-color: #2D2D2D;
  background-image: linear-gradient(180deg,#404040,#2D2D2D); 
  color: #fff;
}

footer {
  background-color: #2D2D2D;
  background-image: linear-gradient(180deg,#404040,#2D2D2D); 
  color: rgba(255,255,255,0.43);
}

section.content {
  flex: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.flex-header {
  margin: 0.5rem ;
}

.flex-footer {
  margin: 0.5rem ;
}

.wrapper {
    position: relative;
    z-index: 1;
    background-color: #ccc;
    background-image: linear-gradient(180deg,#bdbdbd,#ccc);
    background-size: 100% 486px;
    background-position: 50% 0;
    background-repeat: repeat-x;
}

.main-container{
  background: #d9d9d9;
}


.ui.selection.dropdown:focus {
  border-color: #bfbfbf;
  box-shadow: none;
}

.ui.selection.active.dropdown:hover {
  border-color: #e0e0e0;
  box-shadow: none;
}

.ui.selection.active.dropdown {
  border-color: #bfbfbf;
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
}

.ui.selection.dropdown
{
  position: relative;
  border-radius: 3px 0 0 3px;
  border: 1px solid #bfbfbf;
  background: #e0e0e0;
  cursor: pointer;
  color: #78387b;
}
/*
.ui.multiple.dropdown>.label {
  padding: 5%;
  margin: auto;
  vertical-align: baseline;
}
*/

.ui.selection.active.dropdown .menu {
  border-color: #bfbfbf;
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
}

.ui.selection.active.dropdown:hover .menu {
  border-color: #bfbfbf;
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
}

.ui.multiple.dropdown>.label {  
  color: #78387b;
}

.ui.input>input {
  background: #e0e0e0;
  position: relative;
  border-radius: 0 3px 3px 0;
  border: 1px solid #bfbfbf;
  background: #e0e0e0; 
  color: #78387b;
}
