@{
    ViewBag.Title = "Retro Launcher";
    Layout = "_Layout";
}

<noscript><strong>We're sorry but Retro Launcher doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
<div id="app"></div>
<script src="/js/chunk-vendors.053469d3.js"></script>
<script src="/js/app.e817627d.js"></script>