<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>@ViewData["Title"]</title>
    <link href="/js/about.a6c9546e.js" rel="prefetch">
    <link href="/css/app.f3d1bcbb.css" rel="preload" as="style">
    <link href="/css/chunk-vendors.56e7ce0e.css" rel="preload" as="style">
    <link href="/js/app.e817627d.js" rel="preload" as="script">
    <link href="/js/chunk-vendors.053469d3.js" rel="preload" as="script">
    <link href="/css/chunk-vendors.56e7ce0e.css" rel="stylesheet">
    <link href="/css/app.f3d1bcbb.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>
</html>